body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60vw;


}

.symbol,
.number {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.screen{
    grid-column: 1 / 5;
    margin: 2%;
}